<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Prescription</title>
      {% load staticfiles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
</head>
<body>
    <nav class="header">
                <header>
                    <!-- add logo instead of name--> 
                  <a class="name" href="/" >HealthNet</a>
                        <ul class="navBar">
                            <li><a href="/logout/">Log Out</a></li> 
                            <li><a href="/dashboard">Home</a></li> 
                            <li><a href="/update">Update</a></li> 
                           <li><a href="/calendar">Calendar</a></li> 
                             
                        </ul>
                </header>
            </nav>
    <nav class="forms">
    <h1> Create Presciptions</h1>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="delete">Submit</button>
</form>
        </nav>
<nav class="footer">   
                <footer class="indexfooter">
                    
                    <p id="footer"> @Copyright HealthNet Team DoctorWhy? </p>
                </footer>
            </nav>
</body>
</html>