<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deleted message</title>
      {% load staticfiles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
</head>
<body>
    <nav class="header">
                <header>
                    <!-- add logo instead of name-->
                    <a class="name" href="/" >HealthNet</a>
                        <ul class="navBar">
                             <li><a href="/logout/">Log Out</a></li>
                            <li><a href="/dashboard">Home</a></li>
                            <li><a href="/update">Update</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                        </ul>
                </header>
            </nav>
<nav class="forms">
<h2>You have successfully deleted the message</h2>
<a href="/messenger/" class="login">Return to the Messenger</a>
    </nav>
     <nav class="footer">
     <footer class="indexfooter">

                    <p id="footer"> @Copyright HealthNet Team DoctorWhy? </p>
                </footer>
            </nav>
</body>
</html>