<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer Patient</title>
     {% load staticfiles %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}" />
</head>
<body>
 <nav class="header">
                <header>
                    <!-- add logo instead of name--> 
                  <a class="name" href="/" >HealthNet</a>
                        <ul class="navBar">
                            <li><a href="/logout/">Log Out</a></li> 
                            <li><a href="/dashboard">Home</a></li> 
                            <li><a href="/update">Update</a></li> 
                           <li><a href="/calendar">Calendar</a></li> 
                             
                        </ul>
                </header>
            </nav>

    <nav class="forms">
        <h1> Transfer</h1>
        <form id="user_form" method="post" action="/transfer/"
                enctype="multipart/form-data">

            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Submit" />
        </form>
</nav>
    <nav class="footer">
                <footer class="indexfooter">

                    <p id="footer"> @Copyright HealthNet Team DoctorWhy? </p>
                </footer>
            </nav>
</body>
</html>